@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
:root {
 --primary-color:rgb(41, 41, 41);
 --primary-color2:rgb(41, 134, 162);
 --primary-color3:linear-gradient(to right,#5204c618,
 #478bfb18, #b54ae118,#8558de18);
 --primary-color-Default:linear-gradient(to right,#030007,
 #03070c, #0e0611,#0a0711);
 --primary-color-Variant:linear-gradient(to right,#5204c67c,
 #478cfb6f, #b64ae161,#8558de71);
 --padd:10px;
 --fontResp:22px;
 --margem:0;
 --altura:6%;
}
body{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pop{
    
    border: 1px solid #ffffff98 ;
    max-width: 450px;
    margin: 3% auto;
    background: var(--primary-color-Variant);
    padding: 1% 1%;
    border-radius: 40px;    
    color: aliceblue;
    flex-direction: column;
    justify-content: space-between;
    display:flex;
  
}   

.pop h2{
    font-size: 35px;
    align-self: center;
}
.tittleTip1, .tittleTip2{
    border-bottom: 1px solid #ffffff40;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.tittleTip1{
    font-size: 25px;
    
}
.tittleTip2{
    font-size: 25px;
 
}
.box1, .box2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 3px solid #ffffff95;
    background: var();
   border-radius: 9px;
}    


body{
    background: var(--primary-color-Default);
}

.pop img{
    width: 150px;
    height: 55px;
    border-radius: 10px;
    margin-top: -20px;
}
.pop p{
    align-self: center;
}
.descritivo{
    align-self: center;
    margin-top: -20px;
    margin-bottom: 15px;
}

