@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
 --primary-color:rgb(41, 41, 41);
 --primary-color2:rgb(41, 134, 162);
 --primary-color3: linear-gradient(90deg, 
 rgba(82, 4, 198, 0.094) 0%, rgba(71, 139, 251, 0.094) 33.33%, 
 rgba(181, 74, 225, 0.094) 66.67%, 
 rgba(133, 88, 222, 0.094) 100%);
 --primary-color-Default:linear-gradient(to right,#030007,
 #03070c, #0e0611,#0a0711);
 --primary-color-Variant:linear-gradient(to right,#10081b,
 #051020, #1a0522,#0e0522);
 --larguraInput:55%;
 --padd:10px;
 --fontResp:22px;
 --margem:0;
 --altura:6%;
}

.header {
    border: 1px solid #ffffff1e;
    display: flex; /* Corrigir para display: flex */
    justify-content: space-between; /* Alinha o menu da esquerda e da direita */
    background-color: rgba(54, 53, 53, 0.459);
    height: 56px;
    padding: 0 10px; /* Espaçamento horizontal */
    align-items: center;
    width: 100%;
    position: fixed; /* Fixa o header no topo da página */
    top: 0;
    left: 0;  
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.418);
    z-index: 100; /* Garante que o header esteja acima do conteúdo */
    font-size: 20px;
}

body {
    background: linear-gradient(90deg, #030007 0%, 
    #03070C 33.33%, #0E0611 66.67%, #0A0711 100%);
    
    padding-top: 56px;
    color: aliceblue;
    margin:0;

    font-optical-sizing: auto;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-attachment: fixed; /* Mantém o fundo fixo */

}
.logo img{
    width: 99px;
    height: 42px;
    position: flex;
    flex-direction: column;
    justify-content: center;    
    margin-top: 10px;
    margin-right: 20px;
}

.container{
    content: '';
    position: relative;
    border: 1px solid rgba(62, 62, 62, 1);
    height: 100%;
    max-width: 620px;
    margin: 50px auto;
    background: var(--primary-color-Variant);
    border-radius: 40px; 
}



.container2{
    content: '';
    position: relative;
    border: 1px solid rgba(62, 62, 62, 1);
    height: 80%;
    max-width: 620px;
    margin: 0 auto;
    background: var(--primary-color-Variant);
    border-radius: 40px;    

}
.shell{
    margin-top:30px ;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from {
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}
@keyframes pulse {
    0% {
      transform: scale(1); /* Tamanho inicial */
      opacity: 0.0; /* Opacidade inicial */
    }
    25% {
      transform: scale(1); /* Expande o elemento em 10% */
      opacity: 0.5; /* Reduz a opacidade */
    }
    50% {
      transform: scale(1); /* Expande o elemento em 10% */
      opacity: 1; /* Reduz a opacidade */
    }
    75% {
      transform: scale(1); /* Volta ao tamanho original */
      opacity: 0.5; /* Opacidade original */
    }
    100% {
      transform: scale(1); /* Volta ao tamanho original */
      opacity: 0.0; /* Opacidade original */
    }
  }
  
.container::after, .container::before {
   
    content: '';
    position: absolute;
    height: 94%;
    width: 94%;
    background-image: conic-gradient(from var(--angle),  rgb(68, 0, 124),rgb(4, 86, 92),rgb(4, 42, 146),rgb(68, 0, 124));
    top: 50%;
    left: 50%;
    translate:  -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 40px;
    animation: 4s spin linear infinite, pulse 8s ease-in-out infinite;;
}
.container2::after, .container2::before {
   
    content: '';
    position: absolute;
    height: 94%;
    width: 94%;
    background-image: conic-gradient(from var(--angle),  rgb(60, 131, 113),rgb(102, 21, 1),rgb(165, 128, 61),rgb(126, 190, 53));
    top: 50%;
    left: 50%;
    translate:  -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 40px;
    animation: 8s spin linear infinite, 10s pulse ease-in-out infinite;
}

.container2::before{
    filter: blur(2rem);
    opacity: 1.5;
    

}
.container::before{
    filter: blur(2.1rem);
    opacity: 1;
    

}
form label {
    width: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display:flex;
    
}

form h1{
    margin-top: 20px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

form label{
    color:#DD6531;
    padding: 5px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    
}
.labelTop{
    padding: 5px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    white-space: normal;
    text-align: center;
   
}


.headTittle{
    padding: 20px 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid rgba(62, 62, 62, 1)
   
}
.headTittle h1{
    color: #DD6531;
}


form input, .acessosProf{
    border-radius: 20px;
    width: var(--larguraInput);
    align-items: center;
    justify-content: center;
    display:flex;
    font-size: 20px;
    height: 45px;
    padding: 0 10px;
    margin-left: 22%;
}

form input:focus{
    outline: 3px solid  var(--primary-color2);

}
form button, .response button, .container button {
    border: none;
    background-color: #DD6531;
    color: aliceblue;
    font-size: 18px;
    height: 45px;
    cursor: pointer;
    border: 1px solid #ffffff1e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: var(--larguraInput);
    margin-left: 22%;
    border-radius: 20px;
}

form button:hover, .response button:hover, .container button:hover{
    background-color: #a5461e;
}
form button:active, .response button:hover{
    background-color:rgb(87, 87, 87);
}
.acessosProf:focus{
    outline: 2px solid  var(--primary-color2);
}

.descrit {
    font-size: 16px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    white-space: normal;
    text-align: center;
}

.botao {
    border: none;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 18px;    
    height: 50px;
    cursor:pointer;
    background-color: #DD6531
}
.acessosProf{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    height: 200px;
    resize: none;
    padding: var(--padd);
    
}

.acessosresp1{
    width: 100%;
    height: 50px;
    text-align: left;;
    resize: none;
    border:1px solid #ffffff9d;
    border-radius: var(--fontResp);
    color: rgb(0, 0, 0) !important; /* Força a cor */
    font-size: var(--fontResp);
    padding: var(--padd);
    
}
.acessosresp2{
    width: 100%;
    height: 200px;
    text-align: left;;
    resize: none;
    border:1px solid #ffffff9d;
    border-radius: 20px;
    color: rgb(0, 0, 0) !important; /* Força a cor */
    font-size: var(--fontResp);
    padding: var(--padd);
    
}

.tittle{
    font-size: 55px;
    justify-content: center;
    display: flex;
    background: linear-gradient(to right,#DD6531,
    #502400);
    background-clip:text;
    -webkit-background-clip: text;
    color: #DD6531;
    text-shadow: 
                -1px -1px 0 transparent,  
                1px -1px 0 #03000742,
                -1px 1px 0 transparent,
                1px 1px 0 transparent; /* Sombra para simular a borda */
    border-bottom: 1px solid #ffffff52;
    margin-bottom: 50px;
    padding: 20px;
}
.acessosProf::placeholder {
    text-align: center; 
    font-size: 15px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}
.name::placeholder, .cliente::placeholder, .id_input::placeholder,.key_input::placeholder {
    font-size: 17px;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  /*MENU DROPDOWN DE LOGOUT */


/* Estilo comum dos dropdowns */
.dropdown-content-left {
    display: none;
    position: absolute;
    background-color: #ffefee;
    min-width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-top: 15px;
    
}
.dropdown-content-right{
    display: none;
    position: absolute;
    background-color: #ffefee;
    min-width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-top: 14px;
}
.dropdown-content-right a {
    color: rgb(0, 0, 0);
    padding: 5px 11px;
    text-decoration: none;
    display: block;

    
    
}
.dropdown-content-left a{
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
   
}
.dropdown-content-right a:hover {
    background-color: rgba(253, 0, 0, 0.644);
}
.dropdown-content-left a:hover {
    background-color: rgba(54, 54, 54, 0.219);
}

.menu-left-container {
    display: flex; /* Alinha os menus da esquerda lado a lado */
    
}

/* Estilo para hover */
.menu-container:hover .dropdown-content-left {
    display: block;
    
}
.dashboard-container:hover .dropdown-content-right{
    display: block;
    position:absolute;


}


/* Menu Esquerdo */
.menu-left {
    position: relative;
    right: 20px;
    
    
}
/* Menu Direito */
.menu-right {
    position: relative;
    right: 20px;
}
#menu-left-button, #dashboard{

    background-color: rgba(41, 41, 41, 0);
}

#menu-left-button {
    font-size: 20px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Impede quebra de linha */
}
#menu-left-button:hover {
    background-color: #ffefee;
    color: rgb(0, 0, 0);
    border: 1px solid #ffffff1e ;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}


/* Dashboard (nome do usuário) */
#dashboard {
    font-size: 20px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Impede quebra de linha no nome */
}
#dashboard:hover{
    background-color: #ffefee;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Impede quebra de linha no nome */
}
#loginButton:hover {
    background-color: #ffefee;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}
#loginButton {
   
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    white-space: nowrap; /* Impede quebra de linha no nome */
}

.pop{
    
    border: 1px solid #ffffff98 ;
    max-width: 550px;
    margin: 3% auto;
    background: var(--primary-color-Variant);
    padding: 1% 1%;
    border-radius: 40px;    
    color: aliceblue;
    place-items: center;
    justify-content: space-between;
    display: grid;
  
}   

.pop h2{
    font-size: 35px;
    align-self: center;
    color: #DD6531;
} 
.pop.show {
    display: block;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

.tittleTip1, .tittleTip2{
    border-bottom: 1px solid #ffffff1e;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    color: #DD6531;
}

.tittleTip1{
    font-size: 25px;
    text-align: center;
    
}
.tittleTip3{
    font-size: 25px;
    text-align: center;
    border-bottom: 1px solid #ffffff1e;
    border-top: 1px solid #ffffff1e;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 100%;
    color: #DD6531;
    
}
.tittleTip2{
    font-size: 25px;
    text-align: center;
}
.box1, .box2{
    display: grid;
    width: 100% fill;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid  #dd65315d;
    background: var();
    border-radius: 1px;
    text-align: center;
}    

.pop img{
    width: 150px;
    height: 55px;
    border-radius: 10px;
    margin-top: -1px;
    padding: 5px;
 
}
.pop p{
    align-self: center;
}
.descritivo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 20px;
}
.modal p, h2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    padding: 20px;
}
.modal {
    z-index: 9999;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);

}

.modal-content {
    z-index: 9999;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  	height:relative;
    border-radius:10px;
}
.fecharbutton {
    color: #aaa;
    float: right;
    font-size: 50px;
    display: flex;
}

.fecharbutton:hover,
.fecharbutton:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.boxText{
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

#stdesc{
    padding-left: 110px;
}
.help{
    align-items: center;
    justify-content:center;
    display: flex;
    width: 32px;     
    height: 32px; 
    font-size: 21px;
    background-color:#DD6531;
    border-radius: 50%;
    color: #ffffff;
    float: right;
    cursor: pointer;
    position: relative;
  margin-left: 70px;

}
@media print {
    body {
        background: transparent!important; /* Cor de fundo branca para impressão */
        color: rgb(180, 180, 180); /* Cor do texto preto para impressão */
    }
    
    .box table{
           
        border: 1px solid #ffffff;
    }
            th,td {
            
       
            padding: 10px;
            border: 1px solid #ffffff;
         
        }
}
 table{
           
            margin: 10px auto;
        }
        .containerBox{

            width: 100%;
        }
        .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: aliceblue;
           
            
        }

        th,td {
            
           
         
        }
        th{
            width: 5%;
            text-align: left;
            white-space: nowrap;
            
        }
        td{
            width: 20%;
            padding:5px 80px;
        }
  



.read table{
    border:0px;
    color: aliceblue;
}
.read{
             text-align:center ;
             width: 700px;
        }
.read th{
             text-align:center ;
             
        }
.container1{
    content: '';
    position: relative;
    border: 1px solid rgba(62, 62, 62, 1);
    height: 100%;
    max-width: 710px;
    margin: 50px auto;
    background: var(--primary-color-Variant);
    border-radius: 40px; 
    display: flex;
}