@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root {
 --primary-color:rgb(62, 71, 73);
 --primary-color2:rgb(41, 134, 162);
 --padd:0;
 --margem:0;
}
.menu {
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Espaço entre os itens */
    align-items: center; /* Alinha verticalmente */
    background-color: var(--primary-color2);
    width: 100%;
    height: 50px;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 700;
    padding: 0.2%;
    font-size: 18px; 
    color: white; 
}

body {
    background: var(--primary-color);
    color: aliceblue;
    padding-top: 20px; /* Espaço para o menu fixo */
    margin:0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;   
    outline: 0;
}
.container{
    max-width: 640px;
    margin: 5% auto;
    background-color:rgb(19, 31, 31);
    padding: 1% 2%;
    border-radius: 40px;    
}
form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 1%;
    border-radius: 10px;
}

form label{
    font-size: 25px;
}

form input{
    font-size: 20px;
    height: 45px;
    padding: 0 10px;
}
form input:focus{
    outline: 3px solid  var(--primary-color2);

}
form button, .response button{
    border: none;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 18px;
    height: 50px;
    cursor:pointer;
}
form button:hover, .response button:hover{
    background-color: var(--primary-color2);
}
form button:active, .response button:hover{
background-color:rgb(70, 161, 194);
}
.acessosProf:focus{
outline: 2px solid  var(--primary-color2);
}

.descrit {
    font-size: 13px;
}

.botao {
    border: none;
    background-color: var(--primary-color);
    color: aliceblue;
    font-size: 18px;
    height: 50px;
    cursor:pointer;
}
.acessosProf{
    width: 100%;
    height: 300px;
    text-align: left;;
    max-width: 100%;
    max-height: 10%;
}
.acessosProf::placeholder {
    text-align: center; 
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
}


/* Estilizando o botão do menu suspenso */
#dashboard {
    background-color:rgba(34, 112, 136, 0.74);
    color: white;
    padding:20% 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown:hover #dashboard  {
    background-color:white;
    color: black;
}

.menu-left {
    display: flex; /* Flex para o menu à esquerda */
    padding: 5px;
    position: relative;
    z-index: 900;
    right: 0;
}


/* O container do dropdown */
.dropdown {
    padding: 5px;
    position: relative;
    display: flex;
    z-index: 900;
    right: 0;
}

/* Conteúdo do dropdown (links) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 48px;
    padding:1px;
    left: -95px; /* Ajuste este valor conforme necessário */
    z-index: 1;
}

.dropdown-c {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 49px;
    z-index: 1;
}

/* Links do dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
.dropdown-c a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}

/* Mudança de cor dos links no hover */
.dropdown-content a:hover {
    background-color: #f35a5a;
}
.dropdown-c a:hover {
    background-color: #ddd;
}

/* Mostra o dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-left:hover .dropdown-c{
    display: block;
}


.menuDrop {
    background-color:rgba(34, 112, 136, 0.74);
    color: white;
    padding:22% 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}
.menu-left:hover .menuDrop {
    background-color:white;
    color: black;

}
#logoutButton {
    cursor: pointer;
}

